<% lang = session["lang"] %>
<% group = Group.find_by(id: params[:id]) %>
<% subcategory = group.smallcategory %>
<% category = subcategory.bigcategory %>

<div class="thread_show group_<%= params[:id] %>">
  <div class="panel panel-warning thread_show_content">
    <div class="panel-heading thread_head">
      <div class="thread-title">
        <%= category.name_en %> / <%= category.name_jp %>
        ＞
        <%= subcategory.name_en %> / <%= subcategory.name_jp %>
      </div>
    </div>
    <div class="panel-body thread_lang row">
      <div class="col-sm-6">
        <div class="lang_show">
          English / 英語
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lang_show">
          Japanese / 日本語
        </div>
      </div>
    </div>
    <div class="panel-body row thread_all"id="posts">
      <%= render @posts %>
    </div>
  </div>

</div>

<form>
  投稿<input name="content" rows="2" cols="65" data-behavior="room_speaker">
  <input type="hidden"id="group" name="group" value=<%= params[:id] %>>
</form>
<br><br>
<%= form_for @post,remote: true do |f| %>
  <%= f.file_field :image %>
  <%= f.hidden_field :group_id,value: params[:id] %>
  <%= f.submit "画像投稿",class: "btn btn-info" %>
<% end %>
