
<% lang = session["lang"] %>
<% session["now_group"] = params[:id] %>
<% thread = Group.find_by(id: params[:id]) %>
<% thread.seen_num+=1 %>
<% thread.save %>

<div class="user_login"id="<%= logged_in? %>"></div>
<div class="thread_page">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/english.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
      </div>
    </div>
  </div>

  <div class="panel-title"style="display:inline-block">
    <div class="panel-title-text">
      <div class="float_jp">
        <%= thread.title_jp %>
      </div>
      <%= thread.title_en %>
    </div>
    <%= link_to '/groups', data: {"turbolinks"=>false},class:"thread_post_button btn btn-default" do %>
      <div class="jp">
        スレッド作成
      </div>
      Make Thread
    <% end %>
  </div>

  <div class="pvpage_head">
  </div>

  <div class="thread_all"style="padding-top:10px;">
    <div class="thread_cover_cover">
      <%= render thread.posts.first %>
      <%= render thread.posts.offset(@thread_page_num*(@page_id - 1)+1).limit(@thread_page_num) %>
    </div>
    <div class="page_button_cover">
      <% if 1 >= @page_id %>
        <div class="page_button no_push">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
      <% else %>
        <%= link_to("/thread/show/#{params[:id]}/#{@page_id - 1}",class:"page_button ok_push") do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
        <% end %>
      <% end %>
      <% if @start_num != 1 %>
        <div class="page_button dot_show">
          ...
        </div>
      <% end %>
      <% for num in @start_num.round..@end_num.round do %>
        <% if num == @page_id.round %>
          <div class="page_button now_page">
            <%= num %>
          </div>
        <% else %>
          <%= link_to("/thread/show/#{params[:id]}/#{num}",class:"page_button") do %>
            <%= num %>
          <% end %>
        <% end %>
      <% end %>
      <% if @end_num.round != @page_num.round %>
        <div class="page_button dot_show">
          ...
        </div>
      <% end %>
      <% if @page_num.round <= @page_id.round %>
        <div class="page_button no_push">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
      <% else %>
        <%= link_to("/thread/show/#{params[:id]}/#{@page_id.round + 1}",class:"page_button ok_push") do %>
          <span class="glyphicon glyphicon-chevron-right"></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="footer thread_footer">
    <%= form_for @post, :html => {:class => "post_form"},remote: true do |f| %>
      <label for="file_send"class="image_send_button btn btn-prmary image_post_button">
        <div class="glyphicon glyphicon-picture picture_send"></div>
      </label>
      <%= f.file_field :photo,:id => "file_send", :class => "post_file", :style => "display:none"%>
      <input type="hidden"id="group" name="group" value="<%= params[:id] %>">
      <%= f.hidden_field :group_id,value: params[:id] %>
      <button type="submit"class="img_post"style="display:none"></button>
    <% end %>

    <div class="post_footer">
      <div class="glyphicon glyphicon-comment picture_send"></div>
      <div class="post_text">
        <div class="float_jp">
           投稿
        </div>
        Post
      </div>
      <button type="button" class="post_button btn btn-primary words_post_button"id="en">
        <div class="button_text">
          <div class="float_jp">
            書き込み
          </div>
          Write
        </div>
        <%= image_tag "/english.png", class: "image picture_send" %>
      </button>
      <button type="button" class="post_button btn btn-primary words_post_button"id="enjp">
        <div class="button_text">
          <div class="float_jp">
            書き込み
          </div>
          Write
        </div>
        <%= image_tag "/english.png", class: "image picture_send" %>
        <%= image_tag "21hb-GV4ZtL.jpg", class: "image picture_send" %>
      </button>
      <button type="button" class="post_button btn btn-primary words_post_button"id="jp">
        <div class="button_text">
          <div class="float_jp">
             書き込み
          </div>
          Write
        </div>
        <%= image_tag "21hb-GV4ZtL.jpg", class: "image picture_send" %>
      </button>
    </div>
  </div>
</div>
<!-- モーダル・ダイアログ -->

<div class="thread_post_cover">
  <div class="modal fade" id="sampleModal-en" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="thread_post">
            <div class="post_form_cover post_form_cover_en connect_btn">
              <%= image_tag "/english.png", class: "image" %>
              <textarea name="content"class="only_en_form connect_btn content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
            </div>
          </div>
          <div class="explain_text">
            Your English will be translated to Japanese.
          </div>
  			</div>
  			<div class="modal-footer">
          <button type="button" class="btn btn-default btn_send"id="en">
            <div class="float_jp">投稿</div>
            <div class="base_en">Post</div>
          </button>
          <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
            <div class="float_jp">戻る</div>
            <div class="base_en">Back</div>
          </button>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="thread_post_cover">
  <div class="modal fade" id="sampleModal-enjp" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="thread_post">
            <div class="post_form_cover post_form_cover_enjp connect_btn">
              <%= image_tag "/english.png", class: "image" %>
              <textarea name="content"class="en_form connect_btn content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is English form.&#13;&#10;こちらは英語投稿欄です"></textarea>
            </div>
            <div class="space_form"></div>
            <div class="post_form_cover post_form_cover_enjp">
              <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
              <textarea name="content"class="jp_form content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
            </div>
          </div>
          <div class="explain_text">
            You have to write both English and Japanese.<br>
            ここでは英語と日本語を入力して投稿します。
          </div>
  			</div>
  			<div class="modal-footer">
          <button type="button" class="btn btn-default btn_send"id="enjp">
            <div class="float_jp">投稿</div>
            <div class="base_en">Post</div>
          </button>
          <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
            <div class="float_jp">戻る</div>
            <div class="base_en">Back</div>
          </button>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="thread_post_cover">
  <div class="modal fade" id="sampleModal-jp" tabindex="-1">
  	<div class="modal-dialog"style="width:90vw">
  		<div class="modal-content">
  			<div class="modal-body">
          <div class="thread_post">
            <div class="post_form_cover post_form_cover_jp">
              <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
              <textarea name="content"class="only_jp_form content_post form-control" rows="6"
              placeholder="&#13;&#10;This side is Japanese form.&#13;&#10;こちらは日本語投稿欄です"></textarea>
            </div>
          </div>
          <div class="explain_text">
            書いた日本語の文は英語に翻訳されます。
          </div>
  			</div>
  			<div class="modal-footer">
          <button type="button" class="btn btn-default btn_send"id="jp">
            <div class="float_jp">投稿</div>
            <div class="base_en">Post</div>
          </button>
          <button type="button" class="btn btn-default btn_back" data-dismiss="modal"style="margin-right:calc(50% - 70px);">
            <div class="float_jp">戻る</div>
            <div class="base_en">Back</div>
          </button>
  			</div>
  		</div>
  	</div>
  </div>
</div>
