<% lang = session["lang"] %>
<% group = Group.find_by(id: params[:id]) %>
<% subcategory = group.smallcategory %>
<% category = subcategory.bigcategory %>

<div class="thread_show group_<%= params[:id] %>">
  <div class="panel panel-warning thread_show_content">
    <div class="panel-heading thread_head">
      <div class="thread-title">
        <%= category.name_en %> / <%= category.name_jp %>
        ＞
        <%= subcategory.name_en %> / <%= subcategory.name_jp %>
      </div>
    </div>
    <div class="panel-body thread_lang row">
      <div class="col-sm-6">
        <div class="lang_show">
          English / 英語
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lang_show">
          Japanese / 日本語
        </div>
      </div>
    </div>
    <div class="panel-body row thread_all"id="posts">
      <%= render @posts %>
    </div>
  </div>
</div>
<div class="thread_post input-group">
  <%= form_for @post, :html => {:class => "input-group-btn"},remote: true do |f| %>
    <label for="file_send"class="btn btn-default" >
      <%= f.file_field :image,:id => "file_send", :class => "post_file"%>
      <span class="glyphicon glyphicon-picture picture_send"></span>
    </label>
    <%= f.hidden_field :group_id,value: params[:id] %>
    <%= f.submit "",class: "btn btn-info img_send" ,:style => "display:none"%>
  <% end %>
  <form>
    <input name="content" rows="2" cols="65" placeholder="Comment / コメント"data-behavior="room_speaker"class="form-control">
    <input type="hidden"id="group" name="group" value=<%= params[:id] %>>
  </form>

</div>
