<% lang = session["lang"] %>
<% group = Group.find_by(id: params[:id]) %>
<% subcategory = group.smallcategory %>
<% category = subcategory.bigcategory %>

<div class="thread_show">
  <div class="panel panel-warning thread_show_category">
    <div class="panel-heading thread_show_head">
      <div class="thread_show_title">
        <%= category.name_en %> / <%= category.name_jp %>
        ＞
        <%= subcategory.name_en %> / <%= subcategory.name_jp %>
      </div>
    </div>
  </div>
  <div class="panel panel-warning thread_show_content">
    <div class="panel-heading thread_head">
      <div class="thread-title">
      <%= group.title_en %> / <%= group.title_jp %>
      </div>
    </div>
    <div class="panel-body thread_lang row">
      <div class="col-sm-6">
        <div class="lang_show">
          English / 英語
        </div>
      </div>
      <div class="col-sm-6">
        <div class="lang_show">
          Japanese / 日本語
        </div>
      </div>
    </div>
    <div class="panel-body row thread_all">
      <% group.posts.each do |thread| %>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-warning">
              <div class="panel-body thread_content">
                <div class="row">
                  <div class="col-sm-3 group_user_cover">
                    <div class="group_img_cover">
                      <%= image_tag(thread.user.image.url, :class => "group_img") %>
                    </div>
                    <p class="group_name">
                      <%= thread.user.name %>
                    </p>
                  </div>

                  <div class="col-sm-9 post_content_cover">
                    <div class="post_content">
                      <div class="post_content_text">
                        <%= group.posts.first.content_eng %>
                      </div>
                    </div>
                    <div class="lang_type">
                      <% if group.lang == "ja" %>
                        <div class="lang-show">Original</div>
                      <% else %>
                        <div class="lang-show">Translated</div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-warning">
              <div class="panel-body thread_content">
                <div class="row">
                  <div class="col-sm-3 group_user_cover">
                    <div class="group_img_cover">
                      <%= image_tag(thread.user.image.url, :class => "group_img") %>
                    </div>
                    <p class="group_name">
                      <%= thread.user.name %>
                    </p>
                  </div>

                  <div class="col-sm-9 post_content_cover">
                    <div class="post_content">
                      <div class="post_content_text">
                        <%= group.posts.first.content_jap %>
                      </div>
                    </div>
                    <div class="lang_type">
                      <% if group.lang == "en" %>
                        <div class="lang-show">Original</div>
                      <% else %>
                        <div class="lang-show">Translated</div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<form>
  投稿<input name="content" rows="2" cols="65" data-behavior="room_speaker">
  <input type="hidden"id="group" name="group" value=<%= params[:id] %>>
</form>
<br><br>
<%= form_for @post,remote: true do |f| %>
  <%= f.file_field :image %>
  <%= f.hidden_field :group_id,value: params[:id] %>
  <%= f.submit "画像投稿",class: "btn btn-info" %>
<% end %>
