<div class="login_page_cover">
  <div class="login_page">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <div class="float_jp">
            ログイン
          </div>
          <div class="base_en">
            Log In
          </div>
        </div>
        <% if !flash["failed_en"].nil? || !flash["failed_en"].nil? %>
          <div class="alert alert-danger alert-message" role="alert">
            <div class="error_jp">
              <%= flash["failed_jp"] %>
            </div>
            <div class="error_en">
              <%= flash["failed_en"] %>
            </div>
          </div>
          <% flash["failed_en"] = nil %>
          <% flash["failed_jp"] = nil %>
        <% end %>
        <%= form_for :session, url: login_path do |f| %>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                メールアドレス
              </div>
              Mail Address
            </div>
            <div class="">
              <%= f.text_field :email, class: "form-control input_form" %>
            </div>
          </div>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                パスワード
              </div>
              <div class="base_en">
                Passwords
              </div>
            </div>
            <div class="">
              <%= f.password_field :password, class: "form-control input_form" %>
            </div>
          </div>
          <div class="password_reset">
            <%= link_to  new_password_reset_path do %>
            <div class="jp">
              （パスワードを忘れた場合）
            </div>
            (Forgot Password)
            <% end %>
          </div>
          <div class="submit_button_cover">
            <button type="submit"class="submit_button btn btn-default">
              <div class="float_jp">
                ログイン
              </div>
              <div class="base_en">
                Log In
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
