<div>
  <table class="category"border="1"style="font-size:20px;">
    
    <% @categories.each do |cate| %>
      <tr>
        <th >
          <div>　<%= cate.name_jp %>／<%= cate.name_en %></div>
        </th>
        <th></th>
      </tr>
      <% cate.smallcategories.each do |s_cate|%>
        <tr>
          <th >　　|------------------------------------------------------------</th>
          <th >
            <duv>　<%= s_cate.name_jp %>／<%= s_cate.name_en %></duv>
          </th>
        </tr>
      <% end %>
      <tr>
        <th >　　|------------------------------------------------------------</th>
        <th >
          <%= form_for @small_new, url: small_new_path do |s_new| %>
            <%= s_new.text_field :name_jp ,placeholder:"　小カテゴリー(日)"%>
            <%= s_new.text_field :name_en ,placeholder:"　小カテゴリー(英)"%>
            <%= s_new.hidden_field :bigcategory_id, value: cate.id %>
            <%= s_new.submit '投稿' %>
          <% end %>
        </th>
      </tr>
    <% end %>
    <tr>
      <th>
        <%= form_for @big_new, url: big_new_path do |b_new| %>
          <%= b_new.text_field :name_jp ,placeholder:"　大カテゴリー(日)"%>
          <%= b_new.text_field :name_en ,placeholder:"　大カテゴリー(英)"%>
          <%= b_new.submit '投稿' %>
        <% end %>
      </th>
    </tr>
  </table>
</div>
