<% lang = session["lang"] %>
<div class="category_all">
  <div class="category_all_title">
    <% if lang != "jap" %>
      <div>Categories</div>
    <% else %>
      <div>カテゴリ一覧</div>
    <% end %>
  </div>
  <div class="category_all_content">
    <% @category.each do |cate| %>
      <div class="big_category">
        <% if lang != "jap" %>
          <%= cate.name_en %>
        <% else %>
          <%= cate.name_jp %>
        <% end %>
        <br>
        <div class="small_cate_wrap">
          <ul class="small_cate">
            <% cate.smallcategories.each do |s_cate| %>
              <li class="small_title">
                <% if lang != "jap" %>
                  <%= link_to "/thread_all/show/#{s_cate.id}" do %>
                    ●<%= s_cate.name_en %>
                  <% end %>
                <% else %>
                  <%= link_to "/thread_all/show/#{s_cate.id}" do %>
                    ●<%= s_cate.name_jp %>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
