<% smallcategory_id = params[:id].to_i %>
<% smallcategory =  @categories.find(smallcategory_id)%>
<div class="smallcategory_search">
  <div class="category_show">
    <div class="text">
      <div class="float_jp">
        <%= smallcategory.name_jp %>カテゴリー
      </div>
      <%= smallcategory.name_en %>
      Category
    </div>
  </div>
  <div class="pvpage_head">
    <div class="pvpage_lang">
      <div class="lang_show en_position">
        <div class="float_jp">
          英語
        </div>
        English
      </div>
      <div class="lang_show jp_position">
        <div class="float_jp">
          日本語
        </div>
        Japanese
      </div>
    </div>
  </div>
  <div class="thread_all">
    <% smallcategory.groups.each do |group| %>
      <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
        <div class="thread_cover">
          <div class="group_user_cover">
            <div class="group_img_cover">
              <% if group.user.image.url.nil? ==false%>
                <%= image_tag("/user.png", :class => "group_img") %>
              <% else %>
                <%= image_tag(group.user.image.url, :class => "group_img") %>
              <% end %>
            </div>
            <div class="group_name">
              <%= group.user.name %>
            </div>
          </div>
          <div class="thread_content">
            <div class="row post_content_cover">
              <div class="col-sm-6">
                <div class="thread_title">
                  <div class="title_padding">
                    <%= group.title_en %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_eng %>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="thread_title">
                  <div class="title_padding">
                    <%= group.title_jp %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_jap %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
