<% lang = session["lang"] %>
<% thread_page_num = 10 %>
<% page_show_max = 10 %>
<% group_num = Group.all.count%>
<% page_num = group_num / thread_page_num %>
<% if group_num % thread_page_num != 0 %>
  <% page_num += 1 %>
<% end %>
<% page_id = params[:id].to_i %>
<% if page_id.nil? || page_id.to_i > page_num || page_id.to_i < 1 %>
  <% page_id = 1 %>
<% end %>
<% start_num = 1 %>
<% end_num = page_num %>
<% plus_dot_left = false %>
<% plus_dot_right = false %>
<% if page_id + page_show_max / 2 > page_show_max %>
  <% if page_id + page_show_max / 2 <= page_num %>
    <% start_num = page_id - page_show_max / 2 + 1 %>
    <% end_num = page_id + page_show_max / 2 %>
    <% if start_num != 1 %>
      <% plus_dot_left = true %>
    <% end %>
    <% plus_dot_right = true %>
  <% else %>
    <% end_num = page_num %>
    <% start_num = page_num - page_show_max + 1 %>
    <% plus_dot_left = true %>
    <% plus_dot_right = true %>
  <% end %>
<% else %>
  <% if page_num > page_show_max %>
    <% end_num = page_show_max %>
  <% end %>
<% end %>

<style>
  .ui-tooltip{background: #F2FBEF}
  .tooltip-title{
    background:#000;
  }
</style>
<div class=" pvpage_all">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/english.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "/21hb-GV4ZtL.jpg", class: "image" %>
      </div>
    </div>
  </div>
  <div class="panel-title"style="display:inline-block">
    <div class="panel-title-text">
      <div class="float_jp">
        人気スレッド
      </div>
      Popular Thread
    </div>
    <%= link_to '/groups', data: {"turbolinks"=>false},class:"thread_post_button btn btn-default" do %>
      <div class="jp">
        スレッド作成
      </div>
      Make Thread
    <% end %>
  </div>
  <div class="pvpage_head">
  </div>
  <div class="thread_all"style="padding-top:10px;">
    <% there_be = false %>
    <% @groups.order(seen_num: "DESC").offset(thread_page_num*(page_id - 1)).limit(thread_page_num).each do |group| %>
      <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
        <% there_be = true %>
        <div class="thread_cover">
          <div class="group_user_cover">
            <div class="group_img_cover">
              <% if group.user.photo.nil? %>
                <%= image_tag("/user.png", :class => "group_img") %>
              <% else %>
                <%= image_tag show_image_profile_path(group.user), :class => "group_img" %>
              <% end %>
            </div>
          </div>
          <div class="thread_content">
            <div class="post_content_cover">
              <div class="user_name">
                <%= group.user.name %>
              </div>
              <div class="post_content_position en_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <%= group.title_en %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_eng %>
                  </div>
                </div>
              </div>
              <div class="post_content_position_space">
                <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
              </div>
              <div class="post_content_position jp_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <%= group.title_jp %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_jap %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no thread created.
        </div>
        <div class="jp">
          まだスレッドが作成されていません。
        </div>
      </div>
    <% else %>
      <div class="page_button_cover">
        <% if 1 >= page_id %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
        <% else %>
          <%= link_to("/#{page_id - 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        <% end %>
        <% if start_num != 1 %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% for num in start_num..end_num do %>
          <% if num == page_id %>
            <div class="page_button now_page">
              <%= num %>
            </div>
          <% else %>
            <%= link_to("/#{num}",class:"page_button") do %>
              <%= num %>
            <% end %>
          <% end %>
        <% end %>
        <% if end_num != page_num %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% if page_num <= page_id %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        <% else %>
          <%= link_to("/#{page_id + 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(window).on("scroll", function(){
    if($(window).width() < 600){
      //$(".lang_bar_cover").css("left", -$(window).scrollLeft());
    }
  });
</script>
