<% lang = session["lang"] %>

<div class="panel panel-warning pvpage_all">
  <div class="panel-heading pvpage_head">
    <div class="panel-title">
      <div class="float_jp">
        人気スレッド
      </div>
      Popular Thread
    </div>
  </div>
  <div class="panel-body thread_all">
    <% @groups.each do |group| %>
      <div class="row">
        <div class="col-sm-6">
          <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
            <div class="panel panel-warning">
              <div class="panel-heading thread_title">
                <div class="panel-title row">
                  <div class="col-sm-2">
                    Title：
                  </div>
                  <div class="col-sm-10">
                    <%= group.title_en %>
                  </div>
                </div>
              </div>
              <div class="panel-body thread_content">
                <div class="row">
                  <div class="col-sm-3 group_user_cover">
                    <div class="group_img_cover">
                      <% if group.user.image.url.nil? %>
                        <%= image_tag("/user.png", :class => "group_img") %>
                      <% else %>
                        <%= image_tag(group.user.image.url, :class => "group_img") %>
                      <% end %>
                    </div>
                    <p class="group_name">
                      <%= group.user.name %>
                    </p>
                  </div>

                  <div class="col-sm-9 post_content_cover">
                    <div class="post_content">
                      <div class="post_content_text">
                        <%= group.posts.first.content_eng.truncate(50) %>
                      </div>
                    </div>
                    <div class="lang_type">
                      <% if group.lang == "en" %>
                        <div class="lang-show">Original</div>
                      <% else %>
                        <div class="lang-show">Translated</div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-sm-6">
          <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
            <div class="panel panel-warning">
              <div class="panel-heading thread_title">
                <div class="panel-title row">
                  <div class="col-sm-4">
                    タイトル：
                  </div>
                  <div class="col-sm-8">
                    <%= group.title_jp %>
                  </div>
                </div>
              </div>
              <div class="panel-body thread_content">
                <div class="row">
                  <div class="col-sm-3 group_user_cover">
                    <div class="group_img_cover">
                      <% if group.user.image.url.nil? %>
                        <%= image_tag("/user.png", :class => "group_img") %>
                      <% else %>
                        <%= image_tag(group.user.image.url, :class => "group_img") %>
                      <% end %>
                    </div>
                    <p class="group_name">
                      <%= group.user.name %>
                    </p>
                  </div>

                  <div class="col-sm-9 post_content_cover">
                    <div class="post_content">
                      <div class="post_content_text">
                        <%= group.posts.first.content_jap.truncate(23) %>
                      </div>
                    </div>
                    <div class="lang_type">
                      <% if group.lang == "ja" %>
                        <div class="lang-show">Original</div>
                      <% else %>
                        <div class="lang-show">Translated</div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
