<% lang = session["lang"] %>
<style>
  .ui-tooltip{background: #F2FBEF}
  .tooltip-title{
    background:#000;
  }
</style>
<div class="thread_page_num"style="display:none"id="<%= @thread_page_num.to_i %>">
</div>
<div class=" pvpage_all">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/english.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "/21hb-GV4ZtL.jpg", class: "image" %>
      </div>
    </div>
  </div>
  <div class="panel-title"style="display:inline-block">
    <div class="panel-title-text">
      <div class="float_jp">
        人気スレッド
      </div>
      Popular Threads
    </div>
    <!--<%= link_to '/groups', data: {"turbolinks"=>false},class:"thread_post_button btn btn-default" do %>
      <div class="jp">
        スレッド作成
      </div>
      Make Thread
    <% end %>-->
  </div>
  <div class="pvpage_head">
  </div>
  <div class="thread_all"style="padding-top:10px;">
    <% there_be = false %>
    <% @groups.order(seen_num: "DESC").offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num).each do |group| %>
      <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
        <% there_be = true %>
        <div class="thread_cover">
          <div class="group_user_cover">
            <div class="group_img_cover">
              <object>
              <%= link_to "/other_profile/#{group.user.id}" do %>
                <% if group.user.photo.nil? %>
                  <%= image_tag("/user.png", :class => "group_img") %>
                <% else %>
                  <%= image_tag show_image_profile_path(group.user), :class => "group_img" %>
                <% end %>
              <% end %>
              </object>
            </div>
          </div>
          <div class="thread_content">
            <div class="post_content_cover">
              <object>
                <div class="user_name">
                  <% if !logged_in? || current_user.id != group.user.id %>
                    <%= link_to "/other_profile/#{group.user.id}" do %>
                      <%= group.user.name %>
                    <% end %>
                  <% else %>
                    <%= link_to "/profile" do %>
                      <%= group.user.name %>
                    <% end %>
                  <% end %>
                </div>
              </object>
              <div class="post_content_position en_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <%= group.title_en %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_eng %>
                  </div>
                </div>
              </div>
              <div class="post_content_position_space">
                <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
              </div>
              <div class="post_content_position jp_position">
                <div class="thread_title">
                  <div class="title_padding">
                    <% require 'uri' %>
                    <%= URI.decode(group.title_jp) %>
                  </div>
                </div>
                <div class="post_content">
                  <div class="post_content_text">
                    <%= group.posts.first.content_jap %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There is no thread created.
        </div>
        <div class="jp">
          まだスレッドが作成されていません。
        </div>
      </div>
    <% else %>
      <div class="page_button_cover">
        <% if 1 >= @page_id.round %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </div>
        <% else %>
          <%= link_to("/home/#{@page_id - 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
          <% end %>
        <% end %>
        <% if @start_num.round != 1 %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% for num in @start_num.round..@end_num.round do %>
          <% if num == @page_id %>
            <div class="page_button now_page">
              <%= num %>
            </div>
          <% else %>
            <%= link_to("/home/#{num}",class:"page_button page_move") do %>
              <%= num %>
            <% end %>
          <% end %>
        <% end %>
        <% if @end_num.round != @page_num.round %>
          <div class="page_button dot_show">
            ...
          </div>
        <% end %>
        <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
          <div class="page_button no_push">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </div>
        <% else %>
          <%= link_to("/home/#{@page_id.round + 1}",class:"page_button ok_push") do %>
            <span class="glyphicon glyphicon-chevron-right"></span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(window).on("scroll", function(){
    if($(window).width() < 600){
      //$(".lang_bar_cover").css("left", -$(window).scrollLeft());
    }
  });
</script>
