<% search_text = "" %>
<% if session["search_text"].nil? == false %>
  <% search_text = session["search_text"] %>
<% end %>
<% lang = session["lang"] %>
<div class="search_result">
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/english.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "/21hb-GV4ZtL.jpg", class: "image" %>
      </div>
    </div>
  </div>
  <div class="category_show">
    <%= form_tag('/search/header',method: :post,class: "search_form_top") do %>
      <%= text_field_tag :search_text ,search_text, class: "form-control form_input",placeholder:"Search / 検索" %>
      <span class="input-group-btn">
        <button type="submit"class="btn btn-warning form_button">
          <span class="glyphicon glyphicon-search"></span>
          検索
        </button>
      </span>
    <% end %>
  </div>
  <div class="pvpage_head">
  </div>
  <% search_text = search_text.downcase %>
  <div class="thread_all"style="padding-top:10px;">
    <% there_be = false %>
    <% @groups.each do |group| %>
      <% if group.title_en.downcase.include?(search_text) || group.title_jp.downcase.include?(search_text) %>
        <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
          <% there_be = true %>
          <div class="thread_cover">
            <div class="group_user_cover">
              <div class="group_img_cover">
                <% if group.user.photo.nil? %>
                  <%= image_tag("/user.png", :class => "group_img") %>
                <% else %>
                  <%= image_tag show_image_profile_path(group.user), :class => "group_img" %>
                <% end %>
              </div>
            </div>
            <div class="thread_content">
              <div class="post_content_cover">
                <div class="user_name">
                  <%= group.user.name %>
                </div>
                <div class="post_content_position en_position">
                  <div class="thread_title">
                    <div class="title_padding">
                      <%= group.title_en %>
                    </div>
                  </div>
                  <div class="post_content">
                    <div class="post_content_text">
                      <%= group.posts.first.content_eng %>
                    </div>
                  </div>
                </div>
                <div class="post_content_position_space">
                  <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                </div>
                <div class="post_content_position jp_position">
                  <div class="thread_title">
                    <div class="title_padding">
                      <%= group.title_jp %>
                    </div>
                  </div>
                  <div class="post_content">
                    <div class="post_content_text">
                      <%= group.posts.first.content_jap %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% if there_be == false %>
      <div class="not_found">
        <div class="en">
          There are no search results fo "<%=search_text%>".
        </div>
        <div class="jp">
          「"<%=search_text%>"」の検索結果はありません。
        </div>
      </div>
    <% end %>
  </div>
</div>
