<style>
  .ui-widget-content .ui-state-focus{
    background:#4e91f7;
    color:#ffffff;
  }
</style>
<% if logged_in? %>
  <div class="make_thread_cover">
    <div class="get_user_id"id="<%= current_user.id %>"></div>
    <div class="category_head">
      <div class="panel-title">
        <div class="float_jp">
          スレッド作成
        </div>
        Make Threads
      </div>
    </div>
    <div class="panel panel-warning make_thread_category">
      <div class='make_content panel-body'>
        <div class="row">
          <div class="select_category_title">
            <div class="jp">
              カテゴリー選択
            </div>
            Category Select
          </div>
          <button type="button" class="category_modal_open btn btn-primary" data-toggle="modal" data-target="#category_modal">
            <div class="jp">
              カテゴリーを選ぶ
            </div>
            Choose category
          </button>
        </div>
        <input class="small_select"type="text"value=""style="display:none">
        <div class="now_category">
        </div>
      </div>
    </div>
    <div class="panel panel-warning make_thread_category">
      <div class="flag_show">
        <div class="flag_image">
          <%= image_tag "/english.png", class: "image" %>
        </div>
        <div class="flag_image flag_jp">
          <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
        </div>
      </div>
      <div class="panel-body content_cover">
        <div class="title_input_name">
          <div class="sub_jp">
            タイトル
          </div>
          <div class="main_en">
            Title
          </div>
        </div>
        <div class="title_input">
          <input id="title"class="form-control form_lang en_data_title"id="title" rows="2" cols="65">
          <input id="title"class="form-control form_lang jp_data_title"id="title" rows="2" cols="65">
        </div>
      </div>
      <div class="panel-body content_cover">
        <div class="content_input_name">
          <div class="sub_jp">
            内容
          </div>
          <div class="main_en">
            Content
          </div>
        </div>
        <div class="content_input">
          <textarea id="content"class="content_input_form form-control form_lang en_data_content" rows="3" cols="65"></textarea>
          <textarea id="content"class="content_input_form form-control form_lang jp_data_content" rows="3" cols="65"></textarea>
        </div>
      </div>
      <div class="post_footer">
        <div class="glyphicon glyphicon-comment picture_send"></div>
        <div class="post_text">
          <div class="float_jp">
             投稿
          </div>
          Post
        </div>
        <button type="button" class="post_button btn btn-primary words_post_button"id="en">
          <div class="button_text">
            <div class="float_jp">
              書き込み
            </div>
            Write
          </div>
          <%= image_tag "/english.png", class: "image picture_send" %>
        </button>
        <button type="button" class="post_button btn btn-primary words_post_button"id="enjp">
          <div class="button_text">
            <div class="float_jp">
              書き込み
            </div>
            Write
          </div>
          <%= image_tag "/english.png", class: "image picture_send" %>
          <%= image_tag "21hb-GV4ZtL.jpg", class: "image picture_send" %>
        </button>
        <button type="button" class="post_button btn btn-primary words_post_button"id="jp">
          <div class="button_text">
            <div class="float_jp">
               書き込み
            </div>
            Write
          </div>
          <%= image_tag "21hb-GV4ZtL.jpg", class: "image picture_send" %>
        </button>
      </div>
    </div>
    <div class="modal fade category_modal" id="category_modal" tabindex="-1">
    	<div class="modal-dialog"style="width:90vw">
    		<div class="modal-content">
          <div class="modal-header">
            <h5 class="select-title">
              <div class="float_jp">
                 カテゴリー選択
              </div>
              Category Select
            </h5>
          </div>
    			<div class="modal-body">
            <div class="add_button">
              <button type="button" class="scroll_button btn btn-primary">
                <div class="button_text">
                  <div class="float_jp">
                     上へスクロール
                  </div>
                  Scroll Top
                </div>
              </button>
              <button type="button" class="close_button btn btn-primary" data-dismiss="modal" aria-label="Close">
                <div class="button_text">
                  <div class="float_jp">
                     閉じる
                  </div>
                  Close
                </div>
              </button>
            </div>
            <div class="panel panel-warning all_category_list">
              <div class="panel-body category_content">
                <% @category.each do |cate| %>
                  <div class="bigcategory_only">
                    <div id="<%= cate.id %>"class="category_title">
                      <div class="cate_icon">
                        <div class="change_icon glyphicon glyphicon-chevron-down"></div>
                      </div>
                      <div class="cate_name">
                        <div class="float_jp">
                          <%= cate.name_jp %>
                        </div>
                        <%= cate.name_en %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="panel-body category_all_content row">
                <% @category.each do |cate| %>
                  <div class="panel panel-warning category_panel<%= cate.id %>">
                    <div class="bigcategory_add panel-heading">
                      <div class="category_title panel-title">
                        <div class="float_jp">
                          <%= cate.name_jp %>
                        </div>
                        <%= cate.name_en %>
                      </div>
                    </div>
                    <ul class="smallcategory panel-body">
                      <% cate.smallcategories.each do |s_cate| %>
                        <li class="text col-sm-4">
                          <div class="select_category_url"id="<%= s_cate.id %>"
                            data-s_name_jp="<%=s_cate.name_jp%>"data-s_name_en="<%=s_cate.name_en%>"
                            data-b_name_jp="<%=cate.name_jp%>"data-b_name_en="<%=cate.name_en%>">
                            <div class="float_jp">
                              <%= s_cate.name_jp %>
                            </div>
                            <%= s_cate.name_en %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="panel panel-warning not_logined_cover">
    <div class='panel-body not_logined'>
      If you haven't logged in, you can't make a thread. <br>
      Please login or signin.<br>
      <br>
      スレッドを作成するにはログインが必要です。<br>
      ログインかサインインをお願いします。
      <br>
      <%= link_to "/login",class:"login_or_signin btn btn-primary" do %>
        <div class="jp">ログイン</div>
        <div class="en">Log In</div>
      <% end %>
      <%= link_to "/users",class:"login_or_signin btn btn-primary" do %>
        <div class="jp">会員登録</div>
        <div class="en">Sign Up</div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">

</script>
