
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://rawgit.com/ainterpreting/jquery-multilineSelectmenu/master/jquery.multilineSelectmenu.css">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="https://rawgit.com/ainterpreting/jquery-multilineSelectmenu/master/jquery.multilineSelectmenu.js"></script>
<script src="group_make.js"></script>
<style>
  .ui-widget-content .ui-state-focus{
    background:#4e91f7;
    color:#ffffff;
  }
</style>
<% if logged_in? %>
  <div class="make_thread_cover">
    <div class="category_head">
      <div class="panel-title">
        <div class="float_jp">
          スレッド作成
        </div>
        Make Thread
      </div>
    </div>

      <div class="panel panel-warning make_thread_category">
        <div class='make_content panel-body'>
          <div class="row">
            <div class="col-sm-5">
              <div class="select_category_title">
                Category Selector / カテゴリー選択
              </div>
              <div class="big-category">
                <select class="selectpicker big_select" style="font-size:15px;">
                  <option style="font-size:15px;">
                    メインカテゴリー|Main Category
                  </option>
                  <% @category.each do |cate| %>
                    <div style="margin-top:10px"></div>
                    <option
                    <% if cate.id == flash["search_big_id"] %>
                      selected
                    <% end %>
                    class="big_select"id="<%= cate.id %>"value="<%= cate.id %>">
                      <%= cate.name_jp %>|<%= cate.name_en %>
                    </option>
                  <% end %>
                </select>
              </div>
              <div class="row small-category">
                <select class="selectpicker small_select" style="font-size:15px;">
                  <option class="small_first_option"style="font-size:15px;"value="">
                    小カテゴリー|Sub Category
                  </option>
                  <% if !flash["search_sub_id"].nil? %>
                    <% @category.find(flash["search_big_id"].to_i).smallcategories.each do |s_cate| %>
                      <option
                      <% if s_cate.id == flash["search_sub_id"] %>
                        selected
                      <% end %>
                      class="small_select"id="<%= s_cate.id %>"value="<%= s_cate.id %>">
                        <%= s_cate.name_jp %>|<%= s_cate.name_en %>
                      </option>
                    <% end %>
                  <% end %>
                </select>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="option_category_search">
                <%= form_tag('/search/inside', method: :post) do %>
                  <div class="input-group category_search">
                    <span class="input-group-btn">
                      <%= button_tag type:"submit",class: "search btn btn-default" do %>
                        <span class="glyphicon glyphicon-search"></span>
                      <% end %>
                    </span>
                    <%= text_field_tag :search_text ,"", class:"form-control",placeholder:"Search Categories / カテゴリーを検索" %>
                  </div>
                <% end %>
                <div class="search_explain">
                  <div class="en">
                    You can search the nearest category title.
                  </div>
                  <div class="jp">
                    最も近いカテゴリーを検索できます。
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-warning make_thread_category">
        <div class="flag_show">
          <div class="flag_image">
            <%= image_tag "/english.png", class: "image" %>
          </div>
          <div class="flag_image flag_jp">
            <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
          </div>
        </div>
        <div class="panel-body content_cover">
          <div class="title_input_name">
            <div class="sub_jp">
              タイトル
            </div>
            <div class="main_en">
              Title
            </div>
          </div>
          <div class="title_input">
            <input id="title"class="form-control form_lang en_data_title"id="title" rows="2" cols="65">
            <input id="title"class="form-control form_lang jp_data_title"id="title" rows="2" cols="65">
          </div>
        </div>
        <div class="panel-body content_cover">
          <div class="content_input_name">
            <div class="sub_jp">
              内容
            </div>
            <div class="main_en">
              Content
            </div>
          </div>
          <div class="content_input">
            <textarea id="content"class="content_input_form form-control form_lang en_data_content" rows="3" cols="65"></textarea>
            <textarea id="content"class="content_input_form form-control form_lang jp_data_content" rows="3" cols="65"></textarea>
          </div>
        </div>
        <div class="submit_cover"style="display:none">
          <button type="submit"class="btn btn-default submit_button">
            Make / 作成
          </button>
        </div>
        <div class="submit_button_cover"style="margin-top:20px;">
          <div class="button_panel_cover">
            <div class="panel panel-default button_panel">
              <div class="panel-body">
                <div style="button_text">
                  You write only English<br>
                   (Automatically translate to Japanese)
                </div>
                <button type="button" class="post_button btn btn-primary"id="en"data-toggle="modal" data-target="#sampleModal2">
                   Make
                </button>
              </div>
            </div>
          </div>
          <div class="button_panel_cover">
            <div class="panel panel-default button_panel">
              <div class="panel-body">
                <div style="button_text">
                  自分で日本語と英語を両方書いて作成<br>
                  You write both Japanese and English by yourself.
                </div>
                <button type="button" class="especial post_button btn btn-primary"id="enjp"data-toggle="modal" data-target="#sampleModal2">
                   Make / 作成
                </button>
              </div>
            </div>
          </div>
          <div class="button_panel_cover">
            <div class="panel panel-default button_panel">
              <div class="panel-body">
                <div style="button_text">
                  日本語のみ書いて作成 <br>(英語へは自動翻訳されます)
                </div>
                <button type="button" class="post_button btn btn-primary"id="jp"data-toggle="modal" data-target="#sampleModal2">
                   作成
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<% else %>
  <div class="panel panel-warning make_thread_category not_logined_cover">
    <div class='make_content panel-body not_logined'>
      If you haven't logined, you can't make a thread. <br>
      Please login or signin.<br>
      <br>
      スレッドを作成するにはログインが必要です。<br>
      ログインかサインインをお願いします。
      <br>
      <%= link_to "/login",class:"login_or_signin btn btn-primary" do %>
        <div class="jp">ログイン</div>
        <div class="en">Log In</div>
      <% end %>
      <%= link_to "/users",class:"login_or_signin btn btn-primary" do %>
        <div class="jp">サインイン</div>
        <div class="en">Sign In</div>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
    $(".make_thread_cover .big_select").multilineSelectmenu({
      change:function(event,data){
        id = parseInt(data.item.value);
        var html_text = "";
        for(var i = 0;i < gon.subcategory.length;i++){
          if(gon.subcategory[i].bigcategory_id == id){
            html_text += "<option class='add_option'value='"+ gon.subcategory[i].id +"'>"
              +gon.subcategory[i].name_jp+"|"+gon.subcategory[i].name_en+"</option>"
          }
        }
        $(".small_select").append(html_text);
        $(".small_first_option").html("小カテゴリー|Sub Category");
        $(".small_select").multilineSelectmenu('destroy');
        $(".small_select").multilineSelectmenu();
      }
    });

    $(".make_thread_cover .small_select").multilineSelectmenu();
    $(".make_thread_cover .small-category .ui-selectmenu-button").on("click",function(){
      if($('.small_select').length == 1){
        alert("Please Select Category At First(Not Sub Category) \n初めに大カテゴリーを選択してください");
      }
    });
  });
</script>
