<% lang = session["lang"] %>
<% subcategory = Smallcategory.find_by(id: params[:id]) %>
<% category = subcategory.bigcategory %>
<div class="thread_all">
  <div class="thread_all_title">
    <div class="innerTitle">
      <% if lang != "jap" %>
        <%= category.name_en %>
        ＞
        <%= subcategory.name_en %>
      <% else %>
        <%= category.name_jp %>
        ＞
        <%= subcategory.name_jp %>
      <% end %>
    </div>
  </div>
  <div class="thread_all_content">
    <div id="groups">
      <%= render @groups %>
    </div>
  </div>
</div>
