<% id = params[:id] %>
<% group = post.group %>
<% post_first_id = group.posts.first.id%>
<% if params[:id].nil? || post.group_id == params[:id].to_i %>
  <div class="post"id="one_post">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-warning thread_content_cover">
          <% if post.id == post_first_id %>
            <div class="panel-heading thread_content_header">
              Title : <%= group.title_en %>
            </div>
          <% end %>
          <div class="panel-body thread_content
            <% if post.id == post_first_id %>
              first_thread_content
            <% end %>
          ">
            <div class="row">
              <div class="group_user_cover">
                <div class="group_img_cover">
                  <% if post.user.image.url.nil? %>
                    <%= image_tag("/user.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag(post.user.image.url, :class => "group_img") %>
                  <% end %>
                </div>
                <div class="group_name">
                  <%= post.user.name %>
                </div>
              </div>
              <div class="post_content_cover">
                <div class="post_content">
                  <% if post.image.url.nil? %>
                    <div class="post_content_text">
                      <%= post.content_eng %>
                    </div>
                  <% else %>
                    <div class="post_content_img">
                      <%= image_tag("#{post.image.url}", :class => "post_img") %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!--<div class="lang_type">
                <% if post.lang == "en" %>
                  <div class="lang-show">Original / 原文</div>
                <% else %>
                  <div class="lang-show">Translated / 翻訳済</div>
                <% end %>
              </div>-->
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="panel panel-warning thread_content_cover">
          <% if post.id == post_first_id %>
            <div class="panel-heading thread_content_header">
              タイトル : <%= group.title_jp %>
            </div>
          <% end %>
          <div class="panel-body thread_content
            <% if post.id == post_first_id %>
              first_thread_content
            <% end %>
            ">
            <div class="row">
              <div class="group_user_cover">
                <div class="group_img_cover">
                  <% if post.user.image.url.nil? %>
                    <%= image_tag("/user.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag(post.user.image.url, :class => "group_img") %>
                  <% end %>
                </div>
                <div class="group_name">
                  <%= post.user.name %>
                </div>
              </div>
              <div class="post_content_cover">
                <div class="post_content">
                  <% if post.image.url.nil? %>
                    <div class="post_content_text">
                      <%= post.content_jap %>
                    </div>
                  <% else %>
                    <div class="post_content_img">
                      <%= image_tag("#{post.image.url}", :class => "post_img") %>
                    </div>
                  <% end %>
                </div>
              </div>
              <!--<div class="lang_type">
                <% if post.lang == "ja" %>
                  <div class="lang-show">Original / 原文</div>
                <% else %>
                  <div class="lang-show">Translated / 翻訳済</div>
                <% end %>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
