<% id = params[:id] %>
<% group = post.group %>
<% post_first_id = group.posts.first.id%>
<% if params[:id].nil? || post.group_id == params[:id].to_i %>
  <div class="post"id="one_post">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-warning thread_content_cover">
          <% if post.id == post_first_id %>
            <div class="panel-heading thread_content_header">
              <div class="panel-title">
                タイトル：<%= group.title_jp %>
              </div>
            </div>
          <% end %>
          <div class="panel-body thread_content">
            <div class="row">
              <div class="col-sm-3 group_user_cover">
                <div class="group_img_cover">
                  <% if post.user.image.url.nil? %>
                    <%= image_tag("/user.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag(post.user.image.url, :class => "group_img") %>
                  <% end %>
                </div>
                <p class="group_name">
                  <%= post.user.name %>
                </p>
              </div>

              <div class="col-sm-9 post_content_cover">
                <div class="post_content">
                  <div class="post_content_text">
                    <%= post.content_eng %>
                  </div>
                </div>
                <div class="lang_type">
                  <% if post.lang == "ja" %>
                    <div class="lang-show">Original</div>
                  <% else %>
                    <div class="lang-show">Translated</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-warning thread_content_cover">
          <% if post.id == post_first_id %>
            <div class="panel-heading thread_content_header">
              <div class="panel-title">
                Title : <%= group.title_en %>
              </div>
            </div>
          <% end %>
          <div class="panel-body thread_content">
            <div class="row">
              <div class="col-sm-3 group_user_cover">
                <div class="group_img_cover">
                  <% if post.user.image.url.nil? %>
                    <%= image_tag("/user.png", :class => "group_img") %>
                  <% else %>
                    <%= image_tag(post.user.image.url, :class => "group_img") %>
                  <% end %>
                </div>
                <p class="group_name">
                  <%= post.user.name %>
                </p>
              </div>

              <div class="col-sm-9 post_content_cover">
                <div class="post_content">
                  <div class="post_content_text">
                    <%= post.content_jap %>
                  </div>
                </div>
                <div class="lang_type">
                  <% if post.lang == "en" %>
                    <div class="lang-show">原文</div>
                  <% else %>
                    <div class="lang-show">翻訳済</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
