<% lang = session["lang"] %>
<div class="posts">
  <div class="thread_content">
    <% if !params[:id].nil? then %>
      <% if post.group_id == params[:id].to_i then %>
        <div class="post_user_cover">
          <% if post.user.image.url.nil? %>
            <%= image_tag("/user.png", :class => "group_img") %>
          <% else %>
            <%= image_tag(post.user.image.url, :class => "group_img") %>
          <% end %>
          <p class="post_name">
            <%= post.user.name %>
          </p>
        </div>
        <div class="post_content_cover">
          <div class="post_content">
              <% if lang != "jap" %>

              <div class="post_content_l">
                <%= post.content_eng %>
              </div>
            <% else %>
              <%= post.content_jap %>
            <% end %>
          </div>
        </div>
        <div class="lang_change">
          <% if lang != "jap" %>
            Move to This Thread
          <% else %>
            日本語に
          <% end %>
          <span class="glyphicon glyphicon-chevron-right icon"></span>
        </div>
        <%= image_tag post.image.url if !post.image.blank? %>
      <% end %>
    <% else %>
      <%= post.user.name %>：
      <% if session['lang'] == "eng" %>
        <%= post.content_eng %>
      <% else %>
        <%= post.content_jap %>
      <% end %>
      <%= image_tag post.image.url if !post.image.blank? %>
    <% end %>
  </div>
</div>
