<% group = post.group %>
<% first_id = group.posts.first.id%>
<% id = params[:id] %>
<div class="thread_cover
  <% if params[:id].nil? %>
    <%= 'thread_not_first' %>
  <% end %>
  ">
  <div class="group_user_cover">
    <div class="group_img_cover">
      <% if post.user.photo.nil? %>
        <%= image_tag("/user.png", :class => "group_img") %>
      <% else %>
        <%= image_tag show_image_profile_path(post.user), :class => "group_img" %>
      <% end %>
    </div>
  </div>
  <div class="thread_content">
    <div class="post_content_cover">
      <% if post.photo.nil? %>
        <div class="user_name">
          <%= post.user.name %>
        </div>
        <div class="post_content_position en_position">
          <% if post.id == first_id %>
            <div class="thread_title">
              <div class="title_padding">
                <%= post.group.title_en %>
              </div>
            </div>
          <% else %>
            <div class="title_space"></div>
          <% end %>
          <div class="post_content en_content_row">
            <div class="post_content_text">
              <%= simple_format(h(post.content_eng)) %>
            </div>
          </div>
        </div>
        <div class="post_content_position_space">
        </div>
        <div class="post_content_position jp_position">
          <% if post.id == first_id %>
            <div class="thread_title">
              <div class="title_padding">
                <%= post.group.title_jp %>
              </div>
            </div>
          <% else %>
            <div class="title_space"></div>
          <% end %>
          <div class="post_content jp_content_row">
            <div class="post_content_text">
              <%= simple_format(h(post.content_jap)) %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="user_name">
          <%= post.user.name %>
        </div>
        <div class="post_image_cover">
          <%= image_tag show_post_image_thread_path(post), :class => "post_image" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
