<div class="profile_history">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item
    <% if params[:id] == "2" %>
      <%= "active" %>
    <% end %>">
      <a class="nav-link profile_history_change2" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <div class="jp">
          作成したスレッド
        </div>
        <div class="en">
          Made Thread
        </div>
      </a>
    </li>
    <li class="nav-item
    <% if params[:id] == "3" %>
      <%= "active" %>
    <% end %>">
      <a class="nav-link profile_history_change3" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
        <div class="jp">
          過去の投稿
        </div>
        <div class="en">
          Past Post
        </div>
      </a>
    </li>
  </ul>
  <div class="lang_bar_cover" data-toggle="tooltip" data-placement="bottom" data-original-title="説明">
    <div class="lang_bar">
      <div class="country_flag en_country">
        <%= image_tag "/english.png", class: "image" %>
      </div>
      <input id="slider" data-slider-id='ex1Slider' type="text" data-slider-min="0"
          data-slider-max="1000" data-slider-step="1" data-slider-value="500"/>
      <div class="country_flag jp_country">
        <%= image_tag "21hb-GV4ZtL.jpg", class: "image" %>
      </div>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show
    <% if params[:id] == "2" %>
      <%= "active" %>
    <% end %>" id="home" role="tabpanel" aria-labelledby="home-tab">
      <% there_be = false %>
      <% current_user.groups.offset(@thread_page_num*(@page_id - 1)).limit(@thread_page_num).each do |group| %>
        <%= link_to("/thread/show/#{group.id}" , class:"thread_link") do %>
          <% there_be = true %>
          <div class="thread_cover">
            <div class="thread_content">
              <div class="post_content_cover">
                <div class="post_content_position en_position">
                  <div class="thread_title">
                    <div class="title_padding">
                      <%= group.title_en %>
                    </div>
                  </div>
                  <div class="post_content">
                    <div class="post_content_text">
                      <%= group.posts.first.content_eng %>
                    </div>
                  </div>
                </div>
                <div class="post_content_position_space">
                  <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                </div>
                <div class="post_content_position jp_position">
                  <div class="thread_title">
                    <div class="title_padding">
                      <%= group.title_jp %>
                    </div>
                  </div>
                  <div class="post_content">
                    <div class="post_content_text">
                      <%= group.posts.first.content_jap %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if there_be == false %>
        <div class="not_found">
          <div class="en">
            You haven't made any thread.
          </div>
          <div class="jp">
            あなたはまだスレッドを作成していません。
          </div>
        </div>
      <% else %>
        <div class="page_button_cover">
          <% if 1 >= @page_id.round %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id - 1}/#{@page_id2}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          <% end %>
          <% if @start_num.round != 1 %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% for num in @start_num.round..@end_num.round do %>
            <% if num == @page_id %>
              <div class="page_button now_page">
                <%= num %>
              </div>
            <% else %>
              <%= link_to("/profile/#{params[:id]}/#{num}/#{@page_id2}",class:"page_button page_move") do %>
                <%= num %>
              <% end %>
            <% end %>
          <% end %>
          <% if @end_num.round != @page_num.round %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% if @page_num.round <= @page_id.round || @page_num.round == 1 %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id.round + 1}/#{@page_id2}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade
    <% if params[:id] == "3" %>
      <%= "active" %>
    <% end %>" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <% show_group_id = -1 %>
      <% there_be = false %>
      <% current_user.posts.offset(@thread_page_num2*(@page_id2 - 1)).limit(@thread_page_num2).each do |post| %>
        <% if show_group_id != post.group_id %>
          <% show_group_id = post.group_id %>
          <%= link_to("/thread/show/#{post.group_id}" , class:"thread_link") do %>
            <% there_be = true %>
            <div class="panel-title"style="display:inline-block">
              <div class="float_jp">
                <%= post.group.title_jp %>
              </div>
              <%= post.group.title_en %>
            </div>
          <% end %>
          <div class="pvpage_head">
          </div>
        <% end %>
        <div class="thread_cover">
          <div class="thread_content">
            <div class="post_content_cover">
              <% if post.photo.nil? %>
                <div class="user_name">
                  <%= post.user.name %>
                </div>
                <div class="post_content_position en_position">
                  <div class="post_content">
                    <div class="post_content_text text_down">
                      <%= post.content_eng %>
                    </div>
                  </div>
                </div>
                <div class="post_content_position_space"style="margin-top:0px;">
                  <span class="slider_icon glyphicon glyphicon-resize-horizontal"></span>
                </div>
                <div class="post_content_position jp_position">
                  <div class="post_content">
                    <div class="post_content_text text_down">
                      <%= post.content_jap %>
                    </div>
                  </div>
                </div>
              <% else %>
                <div class="user_name">
                  <%= post.user.name %>
                </div>
                <div class="post_image_cover">
                  <%= image_tag show_post_image_thread_path(post), :class => "post_image" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if there_be == false %>
        <div class="not_found">
          <div class="en">
            You haven't post any coment.
          </div>
          <div class="jp">
            まだあなたは投稿をしていません。
          </div>
        </div>
      <% else %>
        <div class="page_button_cover">
          <% if 1 >= @page_id2.round %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{@page_id2 - 1}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
            <% end %>
          <% end %>
          <% if @start_num2.round != 1 %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% for num in @start_num2.round..@end_num2.round do %>
            <% if num == @page_id2 %>
              <div class="page_button now_page">
                <%= num %>
              </div>
            <% else %>
              <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{num}",class:"page_button page_move") do %>
                <%= num %>
              <% end %>
            <% end %>
          <% end %>
          <% if @end_num2.round != @page_num2.round %>
            <div class="page_button dot_show">
              ...
            </div>
          <% end %>
          <% if @page_num2.round <= @page_id2.round || @page_num2.round == 1 %>
            <div class="page_button no_push">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
          <% else %>
            <%= link_to("/profile/#{params[:id]}/#{@page_id}/#{@page_id2.round + 1}",class:"page_button ok_push") do %>
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
