<div class="profile">
  <div class="content">
    name = <%= current_user.name %>
    <div id="name"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    country = <%= current_user.country %>
    <div id="country"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    email = <%= current_user.email %>
    <div id="email"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    age = <%= current_user.age %>
    <div id="age"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    gender = <%= current_user.gender %>
    <div id="gender"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    fullName = <%= current_user.fullName %>
    <div id="fullName"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    profile = <%= current_user.profile %>
    <div id="profile"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
</div>
