<div class="profile">
  <div id="input-group">
    <%= form_for current_user do |f| %>
      <label for="user[image]">Image</label>
      <%= f.file_field :image,id:"image" %>
  </div>
  <div class="content">
    <div class="show_type">name = </div>
    <div class="show_data"id="data_name">
      <%#= current_user.name %>
      <%= f.text_field :name,class: "form-control" %>
    </div>
    <div id="name"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">country = </div>
    <div class="show_data"id="data_country">
      <%= f.text_field :country,class: "form-control" %>
      <%#= current_user.country %>
    </div>
    <div id="country"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">email = </div>
    <div class="show_data"id="data_email">
      <%= f.text_field :email,class: "form-control" %>
      <%#= current_user.email %>
    </div>
    <div id="email"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">age = </div>
    <div class="show_data"id="data_age">
      <%= f.text_field :age,class: "form-control" %>
      <%#= current_user.age %>
    </div>
    <div id="age"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">gender = </div>
    <div class="show_data"id="data_gender">
      <%= f.text_field :gender,class: "form-control" %>
      <%#= current_user.gender %>
    </div>
    <div id="gender"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">fullName = </div>
    <div class="show_data"id="data_fullName">
      <%= f.text_field :fullName,class: "form-control" %>
      <%#= current_user.fullName %>
    </div>
    <div id="fullName"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <div class="content">
    <div class="show_type">profile = </div>
    <div class="show_data"id="data_profile">
      <%= f.text_field :profile,class: "form-control" %>
      <%#= current_user.profile %>
    </div>
    <div id="user_profile"class="edit">
      <div class="edit_text">編集</div>
    </div>
  </div>
  <%= f.submit "更新する",class: "btn btn-success" %>
  <% end %>

</div>
