
<% if logged_in? %>
  <div class="profile">
    <div class="profile_sub"style="display:inline-block">
      <div class="profile_picture">
        <% if current_user.photo.nil? %>
          <%= image_tag("/user.png", :class => "group_img") %>
        <% else %>
          <%= image_tag show_image_profile_path(current_user), :class => "group_img" %>
        <% end %>
        <%= form_for current_user,url: "/profile" do |f| %>
          <%= button_tag type: 'button',class:"profile_picture_change" do %>
            <label type="button" for="image">
              <div class="jp">
                写真を変更する
              </div>
              <div class="en">
                Change Photo
              </div>
              <%= f.file_field :photo,id:"image",class:"profile_image_input",style:"display:none" %>
            </label>
          <% end %>
          <%= f.submit "send",id:"image_submit",style:"display:none" %>
        <% end %>
      </div>
      <div class="profile_contents_change">
        <ul class="nav flex-column">
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/1',class:"nav-link" do %>
              <div class="jp">
                プロフィール
              </div>
              <div class="en">
                Profile
              </div>
            <% end %>
          </li>
          <li class="nav-item profile_contents_button">
            <%= link_to '/profile/2',class:"nav-link" do %>
              <div class="jp">
                履歴
              </div>
              <div class="en">
                History
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="profile_main">
      <% if params[:id].nil? || params[:id] == "1" %>
        <%= render partial:"profile_page" %>
      <% elsif params[:id] == "2" || params[:id] == "3" %>
        <%= render partial:"history" %>
      <% end %>
    </div>
  </div>

<% else %>
<div class="panel panel-warning not_logined_cover">
  <div class='panel-body not_logined'>
    If you haven't logined, you can't see your profile. <br>
    Please login or signin.<br>
    <br>
    プロフィールを閲覧するためにはログインが必要です。<br>
    ログインかサインインをお願いします。
    <br>
    <%= link_to "/login",class:"login_or_signin btn btn-primary" do %>
      <div class="jp">ログイン</div>
      <div class="en">Log In</div>
    <% end %>
    <%= link_to "/users",class:"login_or_signin btn btn-primary" do %>
      <div class="jp">サインイン</div>
      <div class="en">Sign In</div>
    <% end %>
  </div>
</div>
<% end %>
