<% url = request.fullpath %>
<div class="header">
  <div class="width_set"style="width:100vw;">
    <div class="nav-fall border border-primary">
      <%= link_to '/',class:"link_text" do %>
        <div class="text_fill
        <% if url == '/'%>
          <%= "now_page" %>
        <% end %>">
          <div class="height_control"></div>
          <div class="icon glyphicon glyphicon-home"></div>
          <div style=""class="float_text">
            <div class="float_jap">
              ホーム
            </div>
            <div class="base_en">
              Home
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to '/category/show',class:"link_text" do %>
        <div class="text_fill
        <% if url.include?('category') %>
          <%= "now_page" %>
        <% end %>">
          <div class="height_control"></div>
          <span class="icon glyphicon glyphicon-tag"></span>
          <div class="float_text">
            <div class="float_jap">
              カテゴリー
            </div>
            <div class="base_en">
              Category
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to '/groups', data: {"turbolinks"=>false},class:"link_text" do %>
        <div class="text_fill
        <% if url == '/groups'%>
          <%= "now_page" %>
        <% end %>">
          <div class="height_control"></div>
          <span class="icon glyphicon glyphicon-comment"></span>
          <div class="float_text">
            <div class="float_jap">
              スレッド作成
            </div>
            <div class="base_en">
              Make Thread
            </div>
          </div>
        </div>
      <% end %>
      <% if logged_in?  %>
        <div class="login_button dropdown">
          <div class="text_fill dropdown-toggle
          <% if url.include?('/profile') %>
            <%= "now_page" %>
          <% end %>"data-toggle="dropdown">
            <%= link_to '/category/show',class:"link_text",onclick:"window.location.href = '/profile';" do %>
              <div class="height_control"></div>
              <span class="icon glyphicon glyphicon-user"></span>
              <div class="text">
                <div class="float_jap"style="margin-left:8px">マイページ</div>
                <div class="base_en">My Page</div>
              </div>
            <% end %>
          </div>
          <ul class="dropdown-menu url_menu">
            <li class="url_tab_li"><%= link_to("/profile" , class:"url_tab") do%>
              <div class="jp">
                プロフィール
              </div>
              Profile
            <% end %></li>
            <li><%= link_to("/profile/2" , class:"url_tab") do%>
              <div class="jp">
                ヒストリー
              </div>
              History
            <% end %></li>
            <li>
              <%= form_tag('/logout/inner',method: :post,class:"url_tab url_tab_form") do %>
                <button type="submit"class="logout_button">
                  <div class="jp">
                    ログアウト
                  </div>
                  Logout
                </button>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <%= link_to("/login" , class:"login_button") do %>
          <div class="text_fill
          <% if url.include?('/login') %>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-log-in"></span>
            <div class="text">
              <div class="float_jap"style="padding-left:10px">ログイン</div>
              <div class="base_en">Log In</div>
            </div>
          </div>
        <% end %>
        <%= link_to("/users" , class:"login_button",style:"padding-right:2px") do %>
          <div class="text_fill
          <% if url.include?('/users') %>
            <%= "now_page" %>
          <% end %>">
            <div class="height_control"></div>
            <span class="icon glyphicon glyphicon-user"></span>
            <div class="text">
              <div class="float_jap"style="padding-left:15px">会員登録</div>
              <div class="base_en">Sign In</div>
            </div>
          </div>
        <% end %>
      <% end %>
      <span class="search_all">
        <%= form_tag('/search/header',method: :post) do %>
          <%= text_field_tag :search_text ,"", class:"form-control search_form",placeholder:"Search / 検索" %>
          <button type="submit"class="search" style="border: none;">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        <% end %>
      </span>
    </div>
  </div>
</div>
<div class="header_plus"></div>
<div class="add_header">
  <div class="thread_button_all"style="display:none">
    <%= link_to "/groups", class: " btn btn-danger thread_button help" do %>
      <div class="thread_button_jp">緊急スレッド</div>
      Help Thread
    <% end %>
    <% if @test_id.nil? %>
      <%= link_to "/groups", data: {"turbolinks"=>false},class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% else %>
      <%= link_to "/groups/?category_id=#{@test_id}",data: {"turbolinks"=>false}, class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .dropdown:hover > .dropdown-menu{
    display:block;
  }
</style>
