
<% url = request.url %>
<%#= request.url %>
<%#= request.url.include?("/category/show") %>
<% lang = session["lang"] %>
<div class="header">
  <!--<div class="header_top">
    <div class="header_logo">
      Fall in Friends
    </div>
  </div>-->
  <div class="banner_cover">
    <%= image_tag("banner.png", :class => "banner") %>
  </div>
  <div style="width:100vw;">
  </div>
  <nav class="navbar navbar-default nav-fall">
    <div id="nav-drawer">
      <input id="nav-input" type="checkbox" class="nav-unshown">
      <label id="nav-open" for="nav-input"><span></span></label>
      <label class="nav-unshown" id="nav-close" for="nav-input"></label>
      <%= link_to("/login" , class:"login_button") do %>
        <div class="float_jap">サインイン</div>
        Sign In
        <span class="">
          <%#= image_tag("ログインアイコン3.png", :class => "icon") %>
          <%#= image_tag("ダウンロード (1).jpeg", :class => "group_img") %>
        </span>
      <% end %>
      <div id="nav-content">
        <ul class="nav navbar-nav">
          <li class="link_tab">
            <%= link_to '/',class:"link_text" do %>
              <div class="float_jap">
                ホーム
              </div>
              Home
            <% end %>
          </li>
          <li class="link_tab">
            <%= link_to '/category/show',class:"link_text" do %>
              <div class="float_jap">
                カテゴリ一覧
              </div>
              Category List
            <% end %>
          </li>
          <li class="link_tab">
            <%= link_to '/groups',data: {"turbolinks"=>false},class:"link_text" do %>
              <div class="float_jap">
                スレッドの作成
              </div>
              Make Thread
            <% end %>
          </li>
          <li class="link_tab",class:"link_text">
            <%= link_to '/profile',class:"link_text" do %>
              <div class="float_jap">
                マイページ
              </div>
              My Page
            <% end %>
          </li>
          <li class="link_tab">
            <%= link_to '/',class:"link_text" do %>
              <div class="float_jap">
                ガイド
              </div>
              Guide
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--<div class="lang_button_all">
    <%= button_to "日本語", {controller: 'tasks', action: 'lang_change_jp'},
          {method: :post, class: "btn btn-info active lang_button", params: {url:url}} %>
    <div class="button_space"></div>
    <%= button_to "English", {controller: 'tasks', action: 'lang_change_en'},
          {method: :post, class: "btn btn-info active lang_button",params: {url:url}}%>
  </div>-->
  <div class="thread_button_all">
    <%= link_to "/groups", class: " btn btn-danger thread_button help" do %>
      <div class="thread_button_jp">緊急スレッド</div>
      Help Thread
    <% end %>
    <% if @test_id.nil? %>
      <%= link_to "/groups", data: {"turbolinks"=>false},class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% else %>
      <%= link_to "/groups/?category_id=#{@test_id}",data: {"turbolinks"=>false}, class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% end %>
  </div>
  <%= form_tag('/search', method: :post) do %>
    <div class="input-group">
      <span class="input-group-btn">
        <%= button_tag type:"submit",class: "search btn btn-default" do %>
          <span class="glyphicon glyphicon-search">
        <% end %>
      </span>
      <%= text_field_tag :search_text ,"", class:"form-control",placeholder:"Search Categories / カテゴリーを検索" %>
    </div>
  <% end %>
</div>
<div class="plus"></div>
