<% url = request.fullpath %>
<div class="header">
  <div style="width:100vw;">
  </div>
  <div class="nav-fall border border-primary">
    <% if logged_in?  %>
      <%= link_to("/profile" , class:"login_button") do %>
        <div class="text_fill
        <% if url.include?('/profile') %>
          <%= "now_page" %>
        <% end %>">
          <span class="icon glyphicon glyphicon-user"></span>
          <div class="text">
            <div class="float_jap"style="margin-left:8px">マイページ</div>
            <div class="base_en">My Page</div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= link_to("/login" , class:"login_button") do %>
        <span class="icon glyphicon glyphicon-user"></span>
        <div class="text">
          <div class="float_jap">サインイン</div>
          <div class="base_en">Sign In</div>
        </div>
      <% end %>
    <% end %>
    <%= link_to '/',class:"link_text" do %>
      <div class="text_fill
      <% if url == '/'%>
        <%= "now_page" %>
      <% end %>">
        <span class="icon glyphicon glyphicon-home"></span>
        <div style=""class="float_text">
          <div class="float_jap">
            ホーム
          </div>
          <div class="base_en">
            Home
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to '/category/show',class:"link_text" do %>
      <div class="text_fill
      <% if url == '/category/show'%>
        <%= "now_page" %>
      <% end %>">
        <span class="icon glyphicon glyphicon-tag"></span>
        <div class="float_text">
          <div class="float_jap">
            カテゴリー
          </div>
          <div class="base_en">
            Category
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to '/groups', data: {"turbolinks"=>false},class:"link_text" do %>
      <div class="text_fill
      <% if url == '/groups'%>
        <%= "now_page" %>
      <% end %>">
        <span class="icon glyphicon glyphicon-comment"></span>
        <div class="float_text">
          <div class="float_jap">
            スレッド作成
          </div>
          <div class="base_en">
            Make Thread
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to '/',class:"link_text" do %>
      <div class="text_fill
      <% if url == '#'%>
        <%= "now_page" %>
      <% end %>">
        <span class="icon glyphicon glyphicon-question-sign"></span>
        <div class="float_text">
          <div class="float_jap">
            ガイド
          </div>
          <div class="base_en">
            Guide
          </div>
        </div>
      </div>
    <% end %>
    <span class="search_all">
      <%= form_tag('/search/header',method: :post) do %>
        <%= text_field_tag :search_text ,"", class:"form-control search_form",placeholder:"Categories / カテゴリー" %>
        <button type="submit"class="search" style="background: no-repeat;border: none;">
          <span class="glyphicon glyphicon-search"></span>
        </button>
      <% end %>
    </span>
  </div>
</div>
<div class="header_plus"></div>
<div class="add_header">
  <div class="thread_button_all">
    <%= link_to "/groups", class: " btn btn-danger thread_button help" do %>
      <div class="thread_button_jp">緊急スレッド</div>
      Help Thread
    <% end %>
    <% if @test_id.nil? %>
      <%= link_to "/groups", data: {"turbolinks"=>false},class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% else %>
      <%= link_to "/groups/?category_id=#{@test_id}",data: {"turbolinks"=>false}, class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% end %>
  </div>
</div>
