<div class="menu">
  <div class="link_tab">
    <%= link_to '/' do %>
      All Threads
    <% end %>
  </div>
  <div class="link_tab">
    <%= link_to '/users/index' do %>
      Sign up
    <% end %>
  </div>
  <div class="link_tab">
    <%= link_to '/login' do %>
      Login
    <% end %>
  </div>
  <div class="link_tab">
    <%= link_to '/groups' do %>
      Make
    <% end %>
  </div>
  <div class="link_tab">
    <%= link_to '/profile' do %>
      Profile
    <% end %>
  </div>
</div>
