<!DOCTYPE html>
<html class="top-page">
  <head>
    <script src=""></script>
    <title>AcTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon(init: true) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });

    </script>
    <%= render partial:'layouts/header' %>
    <%#= render partial:'layouts/menu' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <div class="main_content_cover">
      <%= yield %>
    </div>
  </body>
</html>
