<!DOCTYPE html>
<html class="top-page">
  <head>
    <script src=""></script>
    <title>AcTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon(init: true) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });

    </script>
    <%# require 'rest-client' %>

    <%#response = RestClient.get("https://api.microsofttranslator.com/V2/Http.svc/Translate?text=I hate it. </|/> I don't want to play soccer.|&to=ja", {
      "Ocp-Apim-Subscription-Key" => 'd0d8d178e5f54dcaab373fe9896fdb3a'
    })%>
    <%#= response.body%>
    <%= render partial:'layouts/header' %>
    <%#= render partial:'layouts/menu' %>
    <% flash.each do |key, value| %>
      <% if key != "search" && key != "search_big_en" && key != "search_big_jp" &&
        key != "search_big_id" && key != "search_sub_en" &&
        key != "search_sub_jp" && key != "search_sub_id"%>
        <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
      <% end %>
    <% end %>
    <div class="main_content_cover">
      <%= yield %>
    </div>
  </body>
</html>
