<!DOCTYPE html>

<html class="top-page">
  <head>
    <%= favicon_link_tag 'icon.png',style:"border-radius:50%"%>
    <title>FreFre</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render partial:'layouts/header' %>
    <div class="main_content_cover">
      <%= yield %>
    </div>
  </body>
</html>
